.nav-top{
    margin-top: -20px;
    background-color: #b2c3c8;
    border:  200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
.logo-button{
   margin-top: 5px;
   margin-left: 300px;
}
.navbar-nav{
   margin-top: 5px;
   margin-left: 25px;
   margin-right: 500px; 
}
.container-fluid{
    margin-top: 10px;
}
.col{
   margin-right: 20px;
}
body{
    background-image: url(../IMG/Image-fundo.jpg);   
    background-color: #d4dcde;
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo{
   margin-top: 10px;
   margin-left: 270px;
   margin-right: 300px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.descricao{
    background-color: #b4cfd7; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: -25px;
    margin-left: -33px;
    font-size: 20px;
    padding-left: 20px;
    
}
.recomendacao{
    background-color: #b4cfd7; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 95px;
    font-size: 20px;
    padding-left: 6px;
}
.qddeselecao1{
    margin-left: -13px;   
}
.qddeselecao2{
    margin-left: -13px;
}
.qddeselecao3{
    margin-left: -13px;
}
.row{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.idade-jovem{
    margin-top: 25px;
    margin-left: -170px;
}
.idade-adulta{
    margin-top: 25px;
    margin-left: -170px;
}
.idade-idoso{
    margin-top: 25px;
    margin-left: -170px;
}