
.nav-top{
    margin-top: -20px;
    background-color: #b2c3c8;
    border:  200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
.logo-button{
   margin-top: 5px;
   margin-left: 300px;
}
.navbar-nav{
   margin-top: 5px;
   margin-left: 25px;
   margin-right: 500px; 
}
.container-fluid{
    margin-top: 10px;
}
.col{
   margin-right: 20px;
}
body{
    background-image: url(../IMG/Image-fundo.jpg);   
    background-color: #d4dcde;
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo{
   margin-top: 10px;
   margin-left: 270px;
   margin-right: 300px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.descricao{
    background-color: #b4cfd7; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: -25px;
    margin-left: -33px;
    font-size: 20px;
    padding-left: 20px;
    
}
.recomendacao{
    background-color: #b4cfd7; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 95px;
    font-size: 20px;
    padding-left: 6px;
}
.qddeselecao1{
    margin-left: -13px;   
}
.qddeselecao2{
    margin-left: -13px;
}
.qddeselecao3{
    margin-left: -13px;
}
.row{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.idade-jovem{
    margin-top: 25px;
    margin-left: -170px;
}
.idade-adulta{
    margin-top: 25px;
    margin-left: -170px;
}
.idade-idoso{
    margin-top: 25px;
    margin-left: -170px;
}
.retangulo1{
    background-color: #d5dddf;
    width: 220px;
    height: 43px;
    margin-top: -40px;
    margin-left: 350px;
}
.retangulo2{
    margin-top: -64px;
    margin-left: 350px;
}
.retangulo3{
    margin-top: -64px;
    margin-left: 350px;
}
.altura{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #d5dddf;
    width: 220px;
    height: 43px;
    margin-top: 25px;
}
.peso{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #d5dddf;
    width: 220px;
    height: 43px; 
    margin-top: 25px;
}
.botao1{
    text-align: center;
    margin-top: 22px;
    margin-left: 7px;
    width: 40px;
    height: 40px;
    background-color: #edc371;
}
.bot1{
    margin-top: 14px;
}
.botao2{
    text-align: center;
    margin-top: 22px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    background-color: #edc371;
}
.bot2{
    margin-top: 14px;
}
.botao3{
    text-align: center;
    margin-top: 22px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    background-color: #edc371;
}
.bot3{
    margin-top: 14px;
}
.bots1{
    margin-top: 15px;
    margin-left: 10px;
}
.bots2{
    margin-top: -40px;
    margin-left: 120px;
}
.b1{
    height: 0px;
    width: 0px;
}
.b2{
    height: 0px;
    width: 0px; 
    margin-left: 335px;
    margin-top: -35px;
}
.homen{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    margin-left: 25px;
    margin-top: 8px;
    height: 0px;
    width:  0px;
}
.mulher{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    margin-left: 470px;
    margin-top: 2px;
    height: 0px;
    width:  0px;
}
.d-grid{
    margin-top: 20px;
    margin-left: 125px;
}
.resultado{
    background-color: #d5dddf;
    width: 220px;
    height: 43px;
    margin-top: 20px;
    margin-left: 200px;
}
.resul{
    text-align: center;
    padding: 5px;
}
.tabela-imc{
    margin-top: 20px;
    margin-left: -50px;
    padding-bottom: 40px;
}
footer.navbar-fixed-bottom {
    background-color: #b2c3c8;
    position:absolute;
    left: 0;
    right: 0;
 }
.unit{
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 300px;
}
.accenture{
    margin-top: -70px;
    margin-left: 900px;
}
.porto{
    text-align: center;
    margin-top: -70px;
    margin-inline: 0;
}
.squad{
    text-align: center;
}


